@page
@model ProjectGamebook.Pages.LocationModel
@{
}
<div class="location">
    <div class="location__main" style="background-image: url(@Url.Content(@Model.Location.ImageUrl)); background-size: 125%; background-position: center center">

    </div>
    <div>
        <h2>Player stats</h2>
        <p>HP: @Model.GS.HP</p>
    </div>
    <p id="locationText"></p>
    <button class="btn btnNext" id="btnNext">Next</button>
    <ul>
        @foreach (var c in Model.Connections)

        {
            <li>
                @if (String.IsNullOrEmpty(c.TargetSpecialPage))
                {
                    <a asp-page="Location" asp-route-id="@c.Target" asp-route-prevId="@c.From"><div style="position: absolute; top: @c.Top; left: @c.Left; width: @c.Width; height: @c.Height"></div></a>
                }
                else
                {
                    <a asp-page="@c.TargetSpecialPage" asp-route-id="@c.Target"></a>
                }
            </li>
        }
    </ul>
</div>

<script>
    var stringList = @Html.Raw(@Model.jsonString);
    var currentIndex = 0;

    function updateText() {
        document.getElementById("locationText").innerText = stringList[currentIndex];
    }

    function changeButtonVisibility() {
        document.getElementById("btnNext").style.display = (currentIndex === stringList.length - 1) ? "none" : "block";
    }

    document.getElementById("btnNext").addEventListener("click", function () {
        currentIndex = currentIndex + 1;
        updateText();
        changeButtonVisibility();
    });

    updateText();
    changeButtonVisibility();
</script>