@page
@model ProjectGamebook.Pages.LocationModel
@Html.AntiForgeryToken()
@{
}
<div class="location">
    <div class="location__main" style="background-image: url(@Url.Content(@Model.Location.ImageUrl)); background-size: 125%; background-position: center center; background-repeat: no-repeat">
        <div style="width: 320px; height: 320px; display: block; position: absolute; top: 20px; left: 20px; text-align: center; color: white;" id="div">
            @Html.Raw(Model.Location.Content)
            <script>
                @if (Model.Location.Content == null) {
                    <text>
                        document.getElementById("div").style.display = "none";
                    </text>
                }
            </script>
            <div id="buttons" class="button-container">
                <button id="kill">Hit</button>
                <button id="critical">Attempt critical</button>
            </div>
            <div class="fight-indicators-container">
                <p id="hit-indicator" class="hit-indicator">Hit</p>
                <p id="block-indicator" class="block-indicator">You blocked</p>
                <p id="fail-indicator" class="fail-indicator">Fail</p>
                <p id="crit-indicator" class="crit-indicator">Critical hit</p>
            </div>
        </div>
    </div>
    <div class="inventory">
        <div class="inventory-icon" onclick="toggleInv()">
        </div>
        <ul class="inventory__main">
            <li id="inv-slot-1" class="inventory__item">@if (Model.GS.Inventory.Items.Count > 0) {<img src="@Model.GS.Inventory.Items[0].ImageUrl" />}</li>
            <li id="inv-slot-2" class="inventory__item">@if (Model.GS.Inventory.Items.Count > 1) {<img src="@Model.GS.Inventory.Items[1].ImageUrl" />}</li>
            <li id="inv-slot-3" class="inventory__item">@if (Model.GS.Inventory.Items.Count > 2) {<img src="@Model.GS.Inventory.Items[2].ImageUrl" />}</li>
            <li id="inv-slot-4" class="inventory__item">@if (Model.GS.Inventory.Items.Count > 3) {<img src="@Model.GS.Inventory.Items[3].ImageUrl" />}</li>
        </ul>
        <ul class="inventory__item-options">
            <li id="item-options-1" class="item-options">
                <button id="use">Use</button>
                <button id="drop">Drop</button>
            </li>
            <li id="item-options-2" class="item-options">
                <button id="use">Use</button>
                <button id="drop">Drop</button>
            </li>
            <li id="item-options-3" class="item-options">
                <button id="use">Use</button>
                <button id="drop">Drop</button>
            </li>
            <li id="item-options-4" class="item-options">
                <button id="use">Use</button>
                <button id="drop">Drop</button>
            </li>
        </ul>
    </div>
    <div>
        <h2>Player stats</h2>
        <p id="hp">HP: @Model.GS.HP</p>
        <p id="dl">DL: @Model.GS.DL</p>
    </div>
    <div>
        <img class="equipped" id="shield" src="@Model.GS.EquippedShield.ImageUrl" />
        <img class="equipped" id="weapon" src="@Model.GS.EquippedWeapon.ImageUrl" />
    </div>
    <p id="locationText"></p>
    <button class="btn btnNext" id="btnNext">Next</button>
    <script>
        let btnNextStyle;
        let currentIndex = 0;
        var stringList = @Html.Raw(@Model.jsonString);
        function checkConnection(targetId, canBeEntered) {
            let divStyle = window.getComputedStyle(document.getElementById("div")).getPropertyValue("display");

            console.log(divStyle);
            console.log(btnNextStyle);

            let connectionElement = document.getElementById("connection_" + targetId);

            if (connectionElement) {
                connectionElement.style.display = (canBeEntered && btnNextStyle === "none" && divStyle === "none") ? "block" : "none";
                console.log(canBeEntered);
            }
        }

        function updateText() {
            document.getElementById("locationText").innerText = stringList[currentIndex];
            if (currentIndex === stringList.length - 1) {
                changeButtonVisibility();
            }
        }

        function changeButtonVisibility() {
            document.getElementById("btnNext").style.display = "none";
            btnNextStyle = "none";
            @if (Model.Location.Monster != null) {
                Model.Location.IsFight = true;
                <text>
                    document.getElementById("buttons").style.display = "flex";
                </text>
            }
            @foreach (var c in Model.Connections)
            {
                <text>
                        checkConnection('@c.Target', '@c.CanBeUsed.ToString().ToLower()');
                </text>
            }
        }

        document.getElementById("btnNext").addEventListener("click", function () {
            currentIndex = currentIndex + 1;
            updateText();
        });

        updateText();

        function toggleInv() {
            const inv = document.querySelector(".inventory__main");
            inv.style.display = inv.style.display === 'flex' ? 'none' : 'flex';
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            let dmg = 0;
            let dlIncrease = 0;
            @if (Model.Location.Monster != null)
            {
                <text>
                            dmg = @Model.Location.Monster.Damage;
                            dlIncrease = @Model.Location.Monster.DLIncrease;
                </text>
            };
            let hitMonsterDmg = @Model.GS.EquippedWeapon.Damage;
            let critChance = @Model.GS.EquippedWeapon.CriticalChance;
            let blockChance = @Model.GS.EquippedShield.BlockChance;
            $("#kill").on("click", function () {

                $.ajax({
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: {
                        dmg: hitMonsterDmg,
                        id: @Model.GS.Location
                    },
                    url: "Location?handler=HitMonster",
                    success: function (data) {
                        $("#monsterHP").text(data);
                        if (data < 1) {
                            document.getElementById("div").style.display = "none";
                            @Model.Location.IsFight = true;
                        }
                        @foreach (var c in Model.Connections)
                        {
                            <text>
                                checkConnection('@c.Target', '@c.CanBeUsed.ToString().ToLower()');
                            </text>
                        }

                        showHitIndicator();

                        setTimeout(function () {
                            if (data > 0) {
                                let rand = Math.random();

                                if (rand < blockChance / 100) {
                                    setTimeout(function () {
                                        $.ajax({
                                            type: "POST",
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader("XSRF-TOKEN",
                                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                                            },
                                            data: { dmg: dmg,
                                                    dlIncrease: dlIncrease
                                            },
                                            url: "Location?handler=UpdateHp",
                                            success: function (data) {
                                                if (data[0] < 1 || data[1] > 99) {
                                                    location.reload();
                                                }
                                                $("#hp").text("HP: " + data[0]);
                                                $("#dl").text("DL: " + data[1]);
                                            },
                                            error: function (error) {
                                                console.error("Error updating HP:", error);
                                            }
                                        });
                                    }, 1000);
                                }
                                else {
                                    showBlockIndicator();
                                }
                            }
                        }, 500);
                    },
                    error: function (error) {
                        console.error("Error updating HP:", error);
                    }
                });
            });

            function showHitIndicator() {
                const hit = document.getElementById("hit-indicator");

                hit.style.display = "block";

                setTimeout(function () {
                    hit.style.display = "none";
                }, 500);
            }

            function showCritIndicator() {
                const crit = document.getElementById("crit-indicator");

                crit.style.display = "block";

                setTimeout(function () {
                    crit.style.display = "none";
                }, 500);
            }

            function showFailIndicator() {
                const fail = document.getElementById("fail-indicator");

                fail.style.display = "block";

                setTimeout(function () {
                    fail.style.display = "none";
                }, 500);
            }

            function showBlockIndicator() {
                const block = document.getElementById("block-indicator");

                block.style.display = "block";

                setTimeout(function () {
                    block.style.display = "none";
                }, 500);
            }

            function HideItem() {
                let item = document.getElementById("item")
                item.style.display = "none";
                document.getElementById("div").style.display = "none";
            }
            $("#item").on("click", function () {
                $.ajax({
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    url: "Location?handler=AddItem",
                    success: function (data) {
                        if (document.getElementById("inv-slot-1").childNodes.length === 0) {
                            let img = document.createElement("img")
                            img.src = data;
                            document.getElementById("inv-slot-1").appendChild(img);
                            HideItem();
                        }
                        else if (document.getElementById("inv-slot-2").childNodes.length === 0) {
                            console.log("test");
                            let img = document.createElement("img")
                            img.src = data;
                            document.getElementById("inv-slot-2").appendChild(img);
                            HideItem();
                        }
                        else if (document.getElementById("inv-slot-3").childNodes.length === 0) {
                            console.log("test");
                            let img = document.createElement("img")
                            img.src = data;
                            document.getElementById("inv-slot-3").appendChild(img);
                            HideItem();
                        }
                        else if (document.getElementById("inv-slot-4").childNodes.length === 0) {
                            console.log("test");
                            let img = document.createElement("img")
                            img.src = data;
                            document.getElementById("inv-slot-4").appendChild(img);
                            HideItem();
                        }
                                                @foreach (var c in Model.Connections)
                        {
                            <text>
                                                    checkConnection('@c.Target', '@c.CanBeUsed.ToString().ToLower()');
                            </text>
                        }
                    },
                    error: function (error) {
                        console.error("Error adding item: ", error);
                    }
                });
            });

            $("#critical").on("click", function () {
                hitMonsterDmg = hitMonsterDmg * 2;

                let rand = Math.random();

                if (rand < critChance / 100) {
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: {
                            dmg: hitMonsterDmg,
                            id: @Model.GS.Location
                                    },
                        url: "Location?handler=HitMonster",
                        success: function (data) {
                            $("#monsterHP").text(data);
                            if (data < 1) {
                                document.getElementById("div").style.display = "none";
                            @Model.Location.IsFight = true;
                                                }
                            @foreach (var c in Model.Connections)
                            {
                                <text>
                                                        checkConnection('@c.Target', '@c.CanBeUsed.ToString().ToLower()');
                                </text>
                            }

                            showCritIndicator();

                            setTimeout(function () {
                                if (data > 0) {
                                    let rand = Math.random();

                                    if (rand < blockChance / 100) {
                                        setTimeout(function () {
                                                $.ajax({
                                                    type: "POST",
                                                    beforeSend: function (xhr) {
                                                        xhr.setRequestHeader("XSRF-TOKEN",
                                                            $('input:hidden[name="__RequestVerificationToken"]').val());
                                                    },
                                                    data: {
                                                        dmg: dmg,
                                                        dlIncrease: dlIncrease
                                                    },
                                                    url: "Location?handler=UpdateHp",
                                                    success: function (data) {
                                                    if (data[0] < 1 || data[1] > 99) {
                                                            location.reload();
                                                        }
                                                        $("#hp").text("HP: " + data[0]);
                                                        $("#dl").text("DL: " + data[1]);
                                                    },
                                                    error: function (error) {
                                                        console.error("Error updating HP:", error);
                                                    }
                                                });
                                        }, 1000);
                                    }
                                    else {
                                        showBlockIndicator();
                                    }
                                }
                            }, 500);
                        },
                        error: function (error) {
                            console.error("Error hitting monster: ", error);
                        }
                    });
                }
                else {
                    showFailIndicator();

                    setTimeout(function () {
                        setTimeout(function () {
                            $.ajax({
                                type: "POST",
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("XSRF-TOKEN",
                                        $('input:hidden[name="__RequestVerificationToken"]').val());
                                },
                                data: {
                                    dmg: dmg,
                                    dlIncrease: dlIncrease
                                },
                                url: "Location?handler=UpdateHp",
                                success: function (data) {
                                    if (data[0] < 1 || data[1] > 99) {
                                        location.reload();
                                    }
                                    $("#hp").text("HP: " + data[0]);
                                    $("#dl").text("DL: " + data[1]);
                                },
                                error: function (error) {
                                    console.error("Error updating HP:", error);
                                }
                            });
                        }, 1000);
                    }, 500);
                }
            });

            var slots = document.querySelectorAll(".inventory__item");

            slots.forEach(function (slot, index) {
                slot.addEventListener("click", function () {
                    if (document.getElementById("inv-slot-" + (index + 1)).childNodes.length !== 0) {
                        toggleItemOptions(index);
                    }
                });
            });

            function toggleItemOptions(index) {
                var itemOptions = document.getElementById("item-options-" + (index + 1));
                if (itemOptions) {
                    itemOptions.style.display = itemOptions.style.display === "flex" ? "none" : "flex";
                }
            }

            var useButtons = document.querySelectorAll(".item-options #use");
            useButtons.forEach(function (useButton, index) {
                useButton.addEventListener("click", function () {
                    useItem(index);
                    document.getElementById("inv-slot-" + (index + 1)).removeChild(document.getElementById("inv-slot-" + (index + 1)).children[0]);
                    toggleItemOptions(index);
                });
            });
            var dropButtons = document.querySelectorAll(".item-options #drop");
            dropButtons.forEach(function (useButton, index) {
                useButton.addEventListener("click", function () {
                    dropItem(index);
                    document.getElementById("inv-slot-" + (index + 1)).removeChild(document.getElementById("inv-slot-" + (index + 1)).children[0]);
                    toggleItemOptions(index);
                });
            });

            function useItem(itemIndex) {
                console.log(itemIndex);

                $.ajax({
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: { i: itemIndex },
                    url: "Location?handler=UseItem",
                    success: function (data) {
                        if (data[0] === "weapon") {
                            document.getElementById("weapon").src = data[1];
                            hitMonsterDmg = parseInt(data[2]);
                            console.log("dmg" + hitMonsterDmg);
                            critChance = parseInt(data[3]);
                        }
                        if (data[0] === "shield") {
                            document.getElementById("shield").src = data[1];
                            blockChance = parseInt(data[2]);
                        }
                        if (data[0] === "sweet") {
                            $("#hp").text("HP: " + data[1]);
                            $("#dl").text("DL: " + data[2]);
                        }
                        if (data[0] === "salty") {
                            $("#dl").text("DL: " + data[1]);
                        }

                    },
                    error: function (error) {
                        console.error("Error using item: ", error);
                    }
                });
            }
            function dropItem(itemIndex) {
                console.log(itemIndex);

                $.ajax({
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: { i: itemIndex },
                    url: "Location?handler=DropItem",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.error("Error dropping item: ", error);
                    }
                });
            }
        });
    </script>
    <ul class="connections">
        @foreach (var c in Model.Connections)

        {
            <li>
                @if (String.IsNullOrEmpty(c.TargetSpecialPage))
                {
                    <a id="connection_@c.Target" asp-page="Location" asp-route-id="@c.Target"><div style="position: absolute; top: @c.Top; left: @c.Left; width: @c.Width; height: @c.Height"></div></a>
                }
                else
                {
                    Console.WriteLine(c.TargetSpecialPage);
                    <a id="connection_@c.Target" asp-page="@c.TargetSpecialPage"><div style="position: absolute; top: @c.Top; left: @c.Left; width: @c.Width; height: @c.Height"></div></a>
                }
            </li>

            <script>
                checkConnection('@c.Target', '@c.CanBeUsed.ToString().ToLower()');
            </script>
        }
    </ul>
</div>