@page
@model ProjectGamebook.Pages.LocationModel
@{
}
<div class="location">
    <div class="location__main" style="background-image: url(@Url.Content(@Model.Location.ImageUrl)); background-size: 125%; background-position: center center">

    </div>
    <div>
        <h2>Player stats</h2>
        <p>HP: @Model.GS.HP</p>
    </div>
    <p id="locationText">@Model.Location.Texts[Model.TextIndex]</p>
    <button class="btn btnNext" id="btnNext">Next</button>
    <ul>
        @foreach (var c in Model.Connections)

        {
            <li>
                @if (String.IsNullOrEmpty(c.TargetSpecialPage))
                {
                    <a asp-page="Location" asp-route-id="@c.Target"><div style="position: absolute; top: @c.Top; left: @c.Left; width: @c.Width; height: @c.Height"></div></a>
                }
                else
                {
                    <a asp-page="@c.TargetSpecialPage" asp-route-id="@c.Target"></a>
                }
            </li>
        }
    </ul>
</div>

<script>
    document.getElementById("btnNext").addEventListener("click", function () {
        fetch('?handler=OnPostChangeItem', { method: 'POST' })
            .then(response => response.text())
            .then(html => {
                document.getElementById("locationText").innerHTML = html;
            });
    });
</script>